// 旋转音乐按钮

.sys-music {
    @size: 50px;

    .toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 55;
    }

    .play {
        animation: kf-rotate 2500ms linear infinite;
    }

    .pause {
        background-position-y: -100%;
    }
}
