@import '../config.less';

.section1 {
    z-index: 50;
    background-color: #000;
    // max-width: 736px; /*no*/

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .bg {
        width: 100%;
        height: 100%;
        background-image: url('@{g-baseUrl}/assets/img/main/section1/bg.jpg');
        background-size: 100% auto;
        // background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
    }

    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
    }

    .tips {
        @url: '@{g-baseUrl}/assets/img/main/section1/tips.png';
        @url-local: '../assets/img/main/section1/tips.png';

        width: 100%;
        height: image-height(@url-local);
        background-image: url(@url);
        background-size: 100% auto;
        position: absolute;
        top: 235px;
        left: 0;
        display: none;
    }

    .hand {
        @url: '@{g-baseUrl}/assets/img/main/section1/hand.png';
        @url-local: '../assets/img/main/section1/hand.png';

        width: image-width(@url-local);
        height: image-height(@url-local);
        background-image: url(@url);
        background-size: 100%;
        position: absolute;
        top: 690px;
        right: 150px;
        display: none;
        animation: kf-breathe 300ms linear infinite;
    }

    // .next {
    //     @url: '../assets/img/common/loading/1.png';

    //     background-image: url(@url);
    //     background-position: center;
    //     width: image-width(@url);
    //     height: image-height(@url);
    //     position: absolute;
    //     top: 220px;
    //     left: 480px;
    //     display: none;
    //     transform: scale(0.5);
    //     transform-origin: 0 0;
    // }

    // .monitor {
    //     @url: '../assets/img/main/section1/monitor.png';

    //     background-image: url(@url);
    //     background-size: 100%;
    //     width: image-width(@url);
    //     height: image-height(@url);
    //     margin: 475px auto 0 auto;
    //     overflow: hidden;
    // }

    .monitor {
        @url: '@{g-baseUrl}/assets/img/main/section1/sprite.png';

        background-image: url(@url);
        background-size: 100%;
        width: 590px;
        height: 465px;
        margin: 385px auto 0 auto;
        overflow: hidden;
    }

    .monitor-text {
        // @url: '../assets/img/main/section1/sprite-text.png';
        @url: '@{g-baseUrl}/assets/img/main/section1/monitor.png';
        @url-local: '../assets/img/main/section1/monitor.png';

        background-image: url(@url);
        background-size: 100%;
        width: image-width(@url-local);
        height: image-height(@url-local);
        margin: 385px auto 0 auto;
        overflow: hidden;
        display: none;
    }

    .text {
        @url: '@{g-baseUrl}/assets/img/main/section1/text.png';
        @url-local: '../assets/img/main/section1/text.png';

        background-image: url(@url);
        background-size: 100%;
        width: image-width(@url-local);
        height: 260px;
        margin: 40px auto 0 auto;
        overflow: hidden;
        background-position-y: 140%;
        background-repeat: no-repeat;
    }

    .text-animate {
        animation: kf-monitor-text 2000ms linear;
    }

    // .screen {
    //     @url: '../assets/img/main/section1/screen.png';

    //     background-image: url(@url);
    //     background-size: 100%;
    //     width: image-width(@url);
    //     height: image-height(@url);
    //     margin: 10px auto 0 auto;
    // }

    .button {
        position: absolute;
        width: 100%;
        // bottom: 108px;
        top: 880px;

        span {
            @url: '@{g-baseUrl}/assets/img/main/section1/btn.png';
            @url-local: '../assets/img/main/section1/btn.png';

            display: block;
            background-image: url(@url);
            background-size: 100%;
            width: image-width(@url-local);
            height: image-height(@url-local);
            margin: 0 auto;
            animation: kf-breathe 500ms linear 250ms infinite;
        }
    }
}
