.section2 {
    z-index: 30;

    .container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .room {
        display: inline-block;
        height: 100%;
        position: relative;

        .bg {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .bg img {
            height: 100%;
        }

        div {
            position: absolute;
            background-color: pink;
            opacity: 0.8;
        }
    }

    // 海报
    .poster {
        top: 70px; /*no*/
        left: 0; /*no*/
        width: 300px; /*no*/
        height: 280px; /*no*/
        transform: rotate(-15deg);
    }

    // 途牛
    .tuniu {
        top: 568px; /*no*/
        left: 15px; /*no*/
        width: 120px; /*no*/
        height: 95px; /*no*/
        transform: rotate(-20deg);
    }

    // 日历
    .calendar {
        top: 380px; /*no*/
        left: 165px; /*no*/
        width: 330px; /*no*/
        height: 160px; /*no*/
        transform: rotate(-20deg);
    }

    .ball {
        top: 757px; /*no*/
        left: 375px; /*no*/
        width: 120px; /*no*/
        height: 130px; /*no*/
    }

    .game {
        top: 428px; /*no*/
        left: 512px; /*no*/
        width: 169px; /*no*/
        height: 105px; /*no*/
        transform: rotate(20deg);
    }

    .game-controller {
        top: 545px; /*no*/
        left: 572px; /*no*/
        width: 85px; /*no*/
        height: 40px; /*no*/
        transform: rotate(20deg);
    }

    .file {
        top: 498px; /*no*/
        left: 1015px; /*no*/
        width: 110px; /*no*/
        height: 170px; /*no*/
        transform: rotate(15deg);
    }

    .door {
        top: 149px; /*no*/
        left: 1210px; /*no*/
        width: 200px; /*no*/
        height: 790px; /*no*/
        transform: rotate(7deg);
    }
}
