<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="section1">
            <div class="wrapper">
                <div class="bg"></div>
                <div class="container">
                    <div class="next"></div>
                    <div class="monitor"><div class="screen"></div></div>
                    <div class="button"><span></span></div>
                </div>
            </div>
        </section>
    </body>
</html>