<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="section2">
            <div class="wrapper">
                <div class="container">
                    <div class="room">
                        <p class="bg"><img src="./assets/img/main/section2/room.jpg" alt=""></p>
                        <div class="sprite sprite-ball"></div>
                        <div class="sprite sprite-paper"></div>
                        <div class="poster"></div>
                        <div class="tuniu"></div>
                        <div class="calendar"></div>
                        <div class="ball"></div>
                        <div class="game game-crate"></div>
                        <div class="game game-controller"></div>
                        <div class="file"></div>
                        <div class="door"></div>
                        <div class="sprite sprite-monitor-game"></div>
                        <div class="sprite sprite-monitor-ball"></div>
                        <div class="sprite sprite-monitor-poster"></div>
                        <div class="sprite sprite-monitor-door"></div>
                        <div class="sprite sprite-monitor-end"></div>
                    </div>
                </div>
                <div class="tips">
                    <div class="door"></div>
                    <div class="poster"></div>
                    <div class="tuniu">
                        <div class="tuniu-container">
                            <div class="step step1"></div>
                            <div class="step step2">
                                <div class="text"><input type="text" placeholder="请输入手机号"></div>
                                <div class="error"></div>
                            </div>
                            <div class="step step3"></div>
                            <div class="button"><span></span></div>
                        </div>
                    </div>
                    <div class="calendar"></div>
                    <div class="ball"></div>
                    <div class="game"></div>
                    <div class="file"></div>
                    <div class="door"></div>
                    <div class="hongbao">
                        <div class="hongbao-container">
                            <div class="ready"></div>
                            <div class="result success"></div>
                            <div class="result failed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>